// Screen sizes

$mobile-screen-size: 768px;

// Backgrounds colors

$background-header: #fafafa;
$background-body: #f3f5f8;
$background-footer: #212121;

// Font colors

$footer-secondary: #c0c0c0;
// Hover Colors
$footer-hover-color: #c0c0c0;

//
$primary-color: #00a3ff;
$secondary-color: #ff004d;
$accent-color: #00ff87;
$dark-bg: #0d0d0d;
$light-text: #fafafa;
$gray-text: #c0c0c0;
