---
import NexLayout from "../layouts/NexLayout.astro";
import "../styles/config.scss";
import "../styles/nex.scss";
---

<NexLayout language="fr" title="NexG Equipements">
	<main>
		<h1>Hello World !</h1>
	</main>
</NexLayout>
